<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="loginServerPort" value="4444"/>
    <add key="chatServerPort" value="4445"/>
    <add key="gameServerPort" value="4446"/>
    <add key="maxPlayersPerGame" value="4"/>
    <add key="maxTeamsPerGame" value="2"/>
    <add key="gameTime" value="5"/> <!-- In Minutes -->
    <add key="maxGameCount" value="10"/>
  </appSettings>
</configuration>
